@charset "UTF-8";
/*
 * RAE Framework v3.3.0
 * Copyright © 2014 Rae
 * http://www.rae.fi
 */
@font-face {
  font-family: 'Neutzeit Grotesk';
  src: url('../fonts/neuzeit-grotesk-light.eot');
  src: url('../fonts/neuzeit-grotesk-light.eot?#iefix') format('embedded-opentype'), url('../fonts/neuzeit-grotesk-light.woff') format('woff'), url('../fonts/neuzeit-grotesk-light.ttf') format('truetype'), url('../fonts/neuzeit-grotesk-light.svg#ywftsg') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Neutzeit Grotesk';
  src: url('../fonts/neuzeit-grotesk.eot');
  src: url('../fonts/neuzeit-grotesk.eot?#iefix') format('embedded-opentype'), url('../fonts/neuzeit-grotesk.woff') format('woff'), url('../fonts/neuzeit-grotesk.ttf') format('truetype'), url('../fonts/neuzeit-grotesk.svg#ywftsg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Neutzeit Grotesk';
  src: url('../fonts/neuzeit-grotesk-bold.eot');
  src: url('../fonts/neuzeit-grotesk-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/neuzeit-grotesk-bold.woff') format('woff'), url('../fonts/neuzeit-grotesk-bold.ttf') format('truetype'), url('../fonts/neuzeit-grotesk-bold.svg#ywftsg') format('svg');
  font-weight: 700;
  font-style: normal;
}
/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}
/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
@-webkit-viewport {
  width: device-width;
  zoom: 1.0;
}
@-moz-viewport {
  width: device-width;
  zoom: 1.0;
}
@-ms-viewport {
  width: device-width;
  zoom: 1.0;
}
@-o-viewport {
  width: device-width;
  zoom: 1.0;
}
@viewport {
  width: device-width;
  zoom: 1.0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
::-moz-selection {
  background: #26d07c;
  color: #ffffff;
  text-shadow: none;
}
::selection {
  background: #26d07c;
  color: #ffffff;
  text-shadow: none;
}
img::-moz-selection {
  background: transparent;
}
img::selection {
  background: transparent;
}
html {
  font-size: 100%;
  overflow-y: scroll;
  min-height: 100%;
}
body {
  font-size: 1rem;
  line-height: 1.5;
  font-family: 'Neutzeit Grotesk', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #111111;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: #26d07c;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:hover {
  color: #111111;
  text-decoration: none;
  -webkit-transition: color 150ms ease-in-out;
          transition: color 150ms ease-in-out;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Neutzeit Grotesk', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.2;
  letter-spacing: -0.015em;
  margin: 0 0 1.5rem 0;
  text-rendering: optimizeLegibility;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
.h1 a,
.h2 a,
.h3 a,
.h4 a,
.h5 a,
.h6 a {
  color: inherit;
}
h1,
.h1 {
  font-size: 3.157rem;
}
h2,
.h2 {
  font-size: 2.369rem;
}
h3,
.h3 {
  font-size: 1.777rem;
}
h4,
.h4 {
  font-size: 1.333rem;
}
h5,
.h5,
h6,
.h6 {
  font-size: 1rem;
}
@media (min-width: 768px) {
  h1,
  .h1 {
    font-size: 4.209rem;
  }
  h2,
  .h2 {
    font-size: 3.157rem;
  }
  h3,
  .h3 {
    font-size: 2.369rem;
  }
  h4,
  .h4 {
    font-size: 1.777rem;
  }
  h5,
  .h5 {
    font-size: 1.333rem;
  }
  h6,
  .h6 {
    font-size: 1rem;
  }
}
p {
  margin: 0 0 1.5rem 0;
  text-rendering: optimizeLegibility;
}
p.intro {
  font-size: 1.333rem;
}
small {
  font-size: 0.75rem;
}
blockquote {
  font-family: 'Neutzeit Grotesk', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 1.5rem 0;
  font-size: 1.333rem;
  font-style: italic;
}
blockquote p {
  margin: 0;
}
blockquote p + p {
  margin-top: 1rem;
}
blockquote cite {
  font-family: 'Neutzeit Grotesk', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #515151;
  font-size: 0.75rem;
  font-style: normal;
}
blockquote cite:before {
  content: '\2014 \0020';
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 0.875rem;
}
pre {
  padding: 1rem;
  overflow: auto;
  white-space: pre;
  word-wrap: normal;
  word-break: normal;
}
hr,
.hr {
  display: block;
  border: solid #f7f7f7;
  border-width: 1px 0 0 0;
  clear: both;
  margin: 2rem auto;
  height: 0;
}
ul,
ol {
  margin-bottom: 1.5rem;
  margin-top: 0.6rem;
  list-style-position: inside;
}
ul li,
ol li {
  line-height: 1.5rem;
  margin-bottom: 0.6rem;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
ul ul li,
ol ul li,
ul ol li,
ol ol li {
  margin-bottom: 0;
}
dl {
  margin-bottom: 1.5rem;
}
dl dd {
  margin: 0 0 0 1.5rem;
}
dl dt {
  font-weight: bold;
}
nav ul,
nav ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.icon {
  font-family: 'ICON-FONT-NAME';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Enable Ligatures ================ */
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
}
/* Fluid-width <audio> & <video> elements */
audio,
video {
  width: 100%;
}
audio:focus,
video:focus {
  outline: 1px dotted #111111;
}
/* Fluid-width media that maintain their aspect ratios */
embed,
img,
object,
video {
  max-width: 100%;
  height: auto;
}
embed,
object {
  height: 100%;
}
img {
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
.flex-video {
  position: relative;
  padding-top: 1.5625rem;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 1rem;
  overflow: hidden;
}
.flex-video.widescreen {
  padding-bottom: 57.25%;
}
.flex-video.vimeo {
  padding-top: 0;
  padding-bottom: 56.25%;
}
.flex-video iframe,
.flex-video object,
.flex-video embed,
.flex-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
table {
  font-size: 0.875rem;
  width: 100%;
  max-width: 100%;
  empty-cells: show;
  table-layout: fixed;
  margin-bottom: 1.5rem;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
}
table caption {
  padding: .5rem;
  text-align: left;
}
table thead,
table tfoot {
  font-weight: bold;
  text-align: left;
  color: #2b2b2b;
}
table th,
table td {
  padding: .5rem;
  text-align: left;
  vertical-align: top;
}
.table-border {
  border: 1px solid #f7f7f7;
}
.table-border-cells th,
.table-border-cells td {
  border-top: 1px solid #f7f7f7;
  border-left: 1px solid #f7f7f7;
}
.table-border-rows th,
.table-border-rows td {
  border-top: 1px solid #f7f7f7;
}
.table-border.table-border-cells thead:first-child tr:first-child th,
.table-border.table-border-cells thead:first-child tr:first-child td,
.table-border.table-border-rows thead:first-child tr:first-child th,
.table-border.table-border-rows thead:first-child tr:first-child td {
  border-top: 0;
}
.table-border-cells tr th:first-child,
.table-border-cells tr td:first-child {
  border-left: 0;
}
.table-border-cells tr:first-child th,
.table-border-cells thead:first-child tr:first-child th {
  border-top: 0;
}
.table-border-rows tr:last-child td {
  border-bottom: 1px solid #f7f7f7;
}
.table-stripes thead,
.table-stripes tfoot {
  background-color: #f7f7f7;
}
.table-stripes tbody > tr:nth-child(even) > td {
  background-color: #ffffff;
}
form {
  margin: 0 0 1rem 0;
}
fieldset {
  margin: 0 0 1.5rem 0;
  border: 0;
  padding: 0;
}
legend {
  margin-bottom: 1rem;
  white-space: normal;
  font-weight: 600;
}
label {
  display: block;
  cursor: pointer;
  line-height: 1.5rem;
}
:-moz-placeholder {
  color: #d0d0d0;
}
::-moz-placeholder {
  color: #d0d0d0;
}
:-ms-input-placeholder {
  color: #d0d0d0;
}
::-webkit-input-placeholder {
  color: #d0d0d0;
}
input[type="search"] {
  box-sizing: border-box;
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  -webkit-appearance: none;
  line-height: normal;
  width: 100%;
  display: block;
  height: 3rem;
  padding: .5rem;
  margin: 0.5rem 0 1rem 0;
  border: 2px solid #b7b7b7;
  background-color: #ffffff;
  border-radius: 3px;
  color: #515151;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
input[type="text"]:hover,
input[type="password"]:hover,
input[type="date"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="month"]:hover,
input[type="week"]:hover,
input[type="email"]:hover,
input[type="number"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="time"]:hover,
input[type="url"]:hover,
textarea:hover {
  border-color: #26d07c;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
  outline: none;
  border-color: #26d07c;
  box-shadow: inset 0 0 5px rgba(145, 145, 145, 0.25);
}
select {
  padding: .5rem;
  vertical-align: middle;
  line-height: normal;
}
select[multiple] {
  height: auto;
}
select,
.dropdown {
  width: 100%;
  cursor: pointer;
  display: block;
  height: 3rem;
  margin: 0.5rem 0 1rem 0;
  border: 2px solid #b7b7b7;
  background-color: #ffffff;
  border-radius: 3px;
  color: #515151;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
select:hover,
.dropdown:hover {
  border-color: #26d07c;
}
select:focus,
.dropdown:focus {
  outline: none;
  border-color: #26d07c;
  box-shadow: inset 0 0 5px rgba(145, 145, 145, 0.25);
}
.dropdown {
  position: relative;
  background-color: transparent;
  padding: 0;
}
.dropdown:after {
  content: '';
  width: 3rem;
  height: 3rem;
  position: absolute;
  right: 0;
  top: 0;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDI0IDI0IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyNCAyNCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZmlsbD0iI0NDQ0NDQyIgZD0iTTIzLjczNyA4LjM5OUwxMi4zNjEgMTkuNzc1Yy0wLjE5OCAwLjE5OC0wLjUxNCAwLjE5OC0wLjcxMiAwTDAuMjczIDguNCBjLTAuMTk4LTAuMTk4LTAuMTk4LTAuNTE0IDAtMC43MTJsMy40NjItMy40NjJjMC4xOTgtMC4xOTggMC41MTQtMC4xOTggMC43IDBsNy41NTcgNy41NzdsNy41NTctNy41NzcgYzAuMTk4LTAuMTk4IDAuNTE0LTAuMTk4IDAuNyAwbDMuNDYyIDMuNDYyYzAuMDk5IDAuMSAwLjEgMC4yIDAuMSAwLjM1NkMyMy44NzUgOC4yIDIzLjggOC4zIDIzLjcgOC4zOTl6Ii8+PC9zdmc+) no-repeat center center;
  background-size: 35%;
}
.dropdown:hover::after {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDI0IDI0IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyNCAyNCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZmlsbD0iIzQwNDA0MCIgZD0iTTIzLjczNyA4LjM5OUwxMi4zNjEgMTkuNzc1Yy0wLjE5OCAwLjE5OC0wLjUxNCAwLjE5OC0wLjcxMiAwTDAuMjczIDguNCBjLTAuMTk4LTAuMTk4LTAuMTk4LTAuNTE0IDAtMC43MTJsMy40NjItMy40NjJjMC4xOTgtMC4xOTggMC41MTQtMC4xOTggMC43IDBsNy41NTcgNy41NzdsNy41NTctNy41NzcgYzAuMTk4LTAuMTk4IDAuNTE0LTAuMTk4IDAuNyAwbDMuNDYyIDMuNDYyYzAuMDk5IDAuMSAwLjEgMC4yIDAuMSAwLjM1NkMyMy44NzUgOC4yIDIzLjggOC4zIDIzLjcgOC4zOTl6Ii8+PC9zdmc+);
}
.dropdown .selected {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  line-height: 3rem;
  padding: 0 .5rem;
  z-index: -1;
  color: #515151;
}
.dropdown select {
  margin: 0;
  position: absolute;
  z-index: 2;
  outline: none;
  filter: alpha(opacity=0);
  opacity: 0;
}
.radio,
.checkbox {
  margin: 0.5rem 0 1rem 0;
  display: block;
}
@media (min-width: 768px) {
  .radio.checkbox-inline,
  .checkbox.checkbox-inline {
    display: inline-block;
    margin-right: 1rem;
  }
}
.radio input:not(oldie),
.checkbox input:not(oldie) {
  vertical-align: middle;
  line-height: normal;
  visibility: hidden;
  filter: alpha(opacity=0);
  opacity: 0;
  display: inline-block;
  z-index: 100;
}
.radio input:not(oldie) + label,
.checkbox input:not(oldie) + label {
  position: relative;
  padding-left: 2rem;
  display: inline-block;
}
.radio input:not(oldie) + label:before,
.checkbox input:not(oldie) + label:before {
  content: '';
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  border: 1px solid #b7b7b7;
  background-color: #ffffff;
  background-size: 82%;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.radio input:not(oldie) + label:hover::before,
.checkbox input:not(oldie) + label:hover::before {
  border-color: #515151;
}
.radio input:not(oldie) + label:focus::before,
.checkbox input:not(oldie) + label:focus::before {
  box-shadow: inset 0 0 5px rgba(145, 145, 145, 0.25);
}
.radio input:not(oldie),
.checkbox input:not(oldie),
.radio label:not(oldie)::before,
.checkbox label:not(oldie)::before {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -0.75rem;
}
.checkbox input:not(oldie) + label:before {
  border-radius: 0;
}
.checkbox input:not(oldie):checked + label:before {
  background-image: url(../images/bg_checkbox.svg);
}
.radio input:not(oldie) + label:before {
  border-radius: 50%;
}
.radio input:not(oldie):checked + label:before {
  background-image: url(../images/bg_radio.svg);
}
.oldie .radio input,
.checkbox input {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin-right: .5em;
}
.oldie .radio label,
.checkbox label {
  display: inline;
  vertical-align: middle;
}
textarea {
  min-height: 6rem;
  vertical-align: top;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
}
.button {
  font-family: 'Neutzeit Grotesk', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  line-height: normal;
  margin: 0 0 1.5rem 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
  padding: .5em 1em .4em 1em;
  border-radius: 3px;
  border: 2px solid #26d07c;
  vertical-align: middle;
  color: #ffffff;
  background-color: #26d07c;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.button:hover,
.button:focus {
  color: #ffffff;
  background-color: #4bde95;
  border-color: #4bde95;
  text-decoration: none;
}
.button:active,
.button.active {
  background-color: #26d07c;
  border-color: #26d07c;
  color: #ffffff;
}
.button-ghost {
  color: #26d07c;
  background: transparent;
}
.button-ghost:hover,
.button-ghost:focus {
  color: #ffffff;
  background-color: #26d07c;
  border-color: #26d07c;
}
.button-white {
  border-color: #ffffff;
  color: #ffffff;
  background: transparent;
}
.button-white:hover {
  color: #ffffff;
  background: transparent;
  border-color: #ffffff;
  opacity: 0.7;
}
.button-white:active,
.button-white.active {
  color: #aaa;
  background: #ffffff;
  border-color: #ffffff;
}
.button-black {
  border-color: #2b2b2b;
  color: #2b2b2b;
  background: transparent;
}
.button-black:hover {
  color: #26d07c;
  background: transparent;
  border-color: #26d07c;
}
.button[disabled],
.button.disabled {
  color: #919191;
  background-color: #f7f7f7;
}
.button-xl {
  font-size: 1.777rem;
  border-width: 2px;
}
.button-lg {
  font-size: 1.333rem;
  border-width: 2px;
}
.button-sm {
  font-size: 0.75rem;
}
.button-expand {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  white-space: normal !important;
}
.container,
.container-fluid {
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
}
.container:before,
.container-fluid:before,
.container:after,
.container-fluid:after {
  content: " ";
  display: table;
}
.container:after,
.container-fluid:after {
  clear: both;
}
.container:before,
.container-fluid:before,
.container:after,
.container-fluid:after {
  content: " ";
  display: table;
}
.container:after,
.container-fluid:after {
  clear: both;
}
.row {
  margin-left: -12px;
  margin-right: -12px;
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
[class*='col-'] {
  position: relative;
  min-height: 1px;
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  float: left;
}
.container {
  width: 100%;
}
.col-sm-12 {
  width: 100%;
}
.col-sm-11 {
  width: 91.66666667%;
}
.col-sm-10 {
  width: 83.33333333%;
}
.col-sm-9 {
  width: 75%;
}
.col-sm-8 {
  width: 66.66666667%;
}
.col-sm-7 {
  width: 58.33333333%;
}
.col-sm-6 {
  width: 50%;
}
.col-sm-5 {
  width: 41.66666667%;
}
.col-sm-4 {
  width: 33.33333333%;
}
.col-sm-3 {
  width: 25%;
}
.col-sm-2 {
  width: 16.66666667%;
}
.col-sm-1 {
  width: 8.33333333%;
}
@media (min-width: 768px) {
  .container {
    width: 740px;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .pull-md-12 {
    right: 100%;
  }
  .pull-md-11 {
    right: 91.66666667%;
  }
  .pull-md-10 {
    right: 83.33333333%;
  }
  .pull-md-9 {
    right: 75%;
  }
  .pull-md-8 {
    right: 66.66666667%;
  }
  .pull-md-7 {
    right: 58.33333333%;
  }
  .pull-md-6 {
    right: 50%;
  }
  .pull-md-5 {
    right: 41.66666667%;
  }
  .pull-md-4 {
    right: 33.33333333%;
  }
  .pull-md-3 {
    right: 25%;
  }
  .pull-md-2 {
    right: 16.66666667%;
  }
  .pull-md-1 {
    right: 8.33333333%;
  }
  .pull-md-0 {
    right: 0%;
  }
  .push-md-12 {
    left: 100%;
  }
  .push-md-11 {
    left: 91.66666667%;
  }
  .push-md-10 {
    left: 83.33333333%;
  }
  .push-md-9 {
    left: 75%;
  }
  .push-md-8 {
    left: 66.66666667%;
  }
  .push-md-7 {
    left: 58.33333333%;
  }
  .push-md-6 {
    left: 50%;
  }
  .push-md-5 {
    left: 41.66666667%;
  }
  .push-md-4 {
    left: 33.33333333%;
  }
  .push-md-3 {
    left: 25%;
  }
  .push-md-2 {
    left: 16.66666667%;
  }
  .push-md-1 {
    left: 8.33333333%;
  }
  .push-md-0 {
    left: 0%;
  }
  .offset-md-12 {
    margin-left: 100%;
  }
  .offset-md-11 {
    margin-left: 91.66666667%;
  }
  .offset-md-10 {
    margin-left: 83.33333333%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-8 {
    margin-left: 66.66666667%;
  }
  .offset-md-7 {
    margin-left: 58.33333333%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-5 {
    margin-left: 41.66666667%;
  }
  .offset-md-4 {
    margin-left: 33.33333333%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-2 {
    margin-left: 16.66666667%;
  }
  .offset-md-1 {
    margin-left: 8.33333333%;
  }
  .offset-md-0 {
    margin-left: 0%;
  }
}
@media (min-width: 980px) {
  .container {
    width: 964px;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .pull-lg-12 {
    right: 100%;
  }
  .pull-lg-11 {
    right: 91.66666667%;
  }
  .pull-lg-10 {
    right: 83.33333333%;
  }
  .pull-lg-9 {
    right: 75%;
  }
  .pull-lg-8 {
    right: 66.66666667%;
  }
  .pull-lg-7 {
    right: 58.33333333%;
  }
  .pull-lg-6 {
    right: 50%;
  }
  .pull-lg-5 {
    right: 41.66666667%;
  }
  .pull-lg-4 {
    right: 33.33333333%;
  }
  .pull-lg-3 {
    right: 25%;
  }
  .pull-lg-2 {
    right: 16.66666667%;
  }
  .pull-lg-1 {
    right: 8.33333333%;
  }
  .pull-lg-0 {
    right: 0%;
  }
  .push-lg-12 {
    left: 100%;
  }
  .push-lg-11 {
    left: 91.66666667%;
  }
  .push-lg-10 {
    left: 83.33333333%;
  }
  .push-lg-9 {
    left: 75%;
  }
  .push-lg-8 {
    left: 66.66666667%;
  }
  .push-lg-7 {
    left: 58.33333333%;
  }
  .push-lg-6 {
    left: 50%;
  }
  .push-lg-5 {
    left: 41.66666667%;
  }
  .push-lg-4 {
    left: 33.33333333%;
  }
  .push-lg-3 {
    left: 25%;
  }
  .push-lg-2 {
    left: 16.66666667%;
  }
  .push-lg-1 {
    left: 8.33333333%;
  }
  .push-lg-0 {
    left: 0%;
  }
  .offset-lg-12 {
    margin-left: 100%;
  }
  .offset-lg-11 {
    margin-left: 91.66666667%;
  }
  .offset-lg-10 {
    margin-left: 83.33333333%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-8 {
    margin-left: 66.66666667%;
  }
  .offset-lg-7 {
    margin-left: 58.33333333%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-5 {
    margin-left: 41.66666667%;
  }
  .offset-lg-4 {
    margin-left: 33.33333333%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-2 {
    margin-left: 16.66666667%;
  }
  .offset-lg-1 {
    margin-left: 8.33333333%;
  }
  .offset-lg-0 {
    margin-left: 0%;
  }
}
.hide-small,
.show-medium,
.show-medium-up,
.hide-medium-down,
.show-large,
.show-large-up,
.hide-large-down,
.show-xlarge,
.show-xlarge-up {
  display: none !important;
}
.show-small,
.hide-medium,
.hide-medium-up,
.show-medium-down,
.hide-large,
.hide-large-up,
.show-large-down,
.hide-xlarge-up {
  display: inherit !important;
}
@media (min-width: 768px) {
  .show-small,
  .hide-medium,
  .hide-medium-up,
  .hide-medium-down,
  .show-large,
  .show-large-up,
  .hide-large-down,
  .show-xlarge,
  .show-xlarge-up {
    display: none !important;
  }
  .hide-small,
  .show-medium,
  .show-medium-up,
  .show-medium-down,
  .hide-large,
  .hide-large-up,
  .show-large-down,
  .hide-xlarge,
  .hide-xlarge-up {
    display: inherit !important;
  }
}
@media (min-width: 980px) {
  .show-small,
  .show-medium,
  .hide-medium-up,
  .show-medium-down,
  .hide-large,
  .hide-large-up,
  .hide-large-down,
  .show-xlarge,
  .show-xlarge-up {
    display: none !important;
  }
  .hide-small,
  .hide-medium,
  .show-medium-up,
  .hide-medium-down,
  .show-large,
  .show-large-up,
  .show-large-down,
  .hide-xlarge,
  .hide-xlarge-up {
    display: inherit !important;
  }
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
.hidden {
  display: none;
  visibility: hidden;
}
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.left {
  float: left;
}
.right {
  float: right;
}
.nofloat {
  float: none;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.circle {
  border-radius: 50%;
}
.space-before-none {
  margin-top: 0rem;
}
.space-before-small {
  margin-top: 0.5rem;
}
.space-before-normal {
  margin-top: 1rem;
}
.space-before-large {
  margin-top: 1.5rem;
}
.space-before-xlarge {
  margin-top: 2rem;
}
.space-after-none {
  margin-bottom: 0rem;
}
.space-after-small {
  margin-bottom: 0.5rem;
}
.space-after-normal {
  margin-bottom: 1rem;
}
.space-after-large {
  margin-bottom: 1.5rem;
}
.space-after-xlarge {
  margin-bottom: 2rem;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  visibility: visible!important;
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}
.animated.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.animated.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.animated.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.animated.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
.js .images-loading {
  filter: alpha(opacity=0) !important;
  opacity: 0 !important;
}
.js .images-loaded {
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transition: opacity 800ms ease-in-out;
          transition: opacity 800ms ease-in-out;
}
.light {
  font-weight: 300;
}
.header {
  padding: 1.5rem 0;
  opacity: 1;
  position: absolute;
  top: 0;
  z-index: 100;
  text-align: right;
  left: 0;
  width: 100%;
  -webkit-transition: all 150ms ease-in-out;
          transition: all 150ms ease-in-out;
}
.header.header-no-bg {
  background: #26d07c;
  background: -webkit-linear-gradient(315deg, #26d07c 10%, #3a5dae 50%, #440099 90%);
  background: linear-gradient(135deg, #26d07c 10%, #3a5dae 50%, #440099 90%);
}
.header.header-fixed-to-top {
  background: #ffffff;
  opacity: 0;
  padding: .5rem 0;
  position: fixed;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}
.header.header-fixed-to-top .logo {
  background-image: url(../images/logo-color@2x.png);
  height: 48px;
  width: 177px;
  background-size: 177px 48px;
}
.header.header-fixed-to-top .menu {
  margin-top: .5rem;
}
.header.header-fixed-to-top .menu a {
  color: #2b2b2b;
}
.header.header-fixed-to-top .menu a:hover {
  color: #26d07c;
}
.header.header-fixed-to-top .menu a.button {
  border-color: #2b2b2b;
}
.header.header-fixed-to-top .menu a.button:hover {
  border-color: #26d07c;
}
.header .logo {
  background-image: url(../images/logo@2x.png);
  background-repeat: none;
  background-size: 207px 56px;
  display: block;
  height: 56px;
  width: 207px;
  float: left;
  z-index: 102;
  position: relative;
}
.header .logo:hover {
  opacity: .8;
}
.nav,
.nav-footer {
  float: right;
}
.menu {
  margin-top: .75rem;
}
.menu li {
  display: inline-block;
  margin-left: 2rem;
}
.menu li:first-child {
  margin-left: 0;
}
.menu li a {
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}
.menu li a:hover {
  color: #26d07c;
}
.menu li a.button {
  margin-bottom: 0;
}
.nav-toggle {
  position: absolute;
  top: 2.5rem;
  right: 1rem;
  background: aqua;
  display: block;
  height: 15px;
  width: 17px;
  background: url(../images/nav-mobile.png) no-repeat 0 0;
  background-size: 17px 15px;
  z-index: 103;
}
@media (max-width: 767px) {
  .nav {
    background: #3a5dae;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 101;
  }
  .nav .menu {
    padding-top: 6rem;
    padding-bottom: 2rem;
  }
  .nav .menu li {
    display: block;
    text-align: left;
    margin: 0;
    padding: 0.5rem 24px;
  }
}
@media (max-width: 767px) {
  .nav-footer {
    float: none;
  }
  .nav-footer .menu li {
    display: block;
    margin: 0 0 1rem 0;
    text-align: center;
  }
}
.footer {
  background: #2b2b2b;
  padding: 1rem 0 1.5rem 0;
}
@media (min-width: 768px) {
  #hero-home.header-section {
    padding: 12rem 0 3rem 0;
  }
}
.header-section {
  text-align: center;
  overflow: hidden;
  padding: 7.5rem 0 4.5rem 0;
}
.header-section .arrow-down {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  margin-left: -25px;
  background: url(../images/arrow-down.png) no-repeat center center;
  width: 50px;
  height: 50px;
}
.js .page-title {
  visibility: hidden;
}
.header-no-bg + .main .content-section {
  padding-top: 12rem;
}
.content-section {
  padding: 4rem 0;
}
.content-section header {
  text-align: center;
  padding-bottom: 3rem;
}
.content-section-fullbleed {
  padding: 0px;
}
@media (max-width: 767px) {
  #features,
  #transitions,
  #getstarted {
    text-align: center;
  }
}
.white {
  background: #ffffff;
}
.white + .white {
  border-top: 3px solid #d0d0d0;
}
.blue {
  background: #3a5dae;
  color: white;
}
.purple {
  background: #409;
  color: white;
}
.grey {
  background: #f7f7f7;
}
.gradient {
  color: #ffffff;
  position: relative;
}
.gradient .gradient-image {
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 100%;
  pointer-events: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.gradient .gradient-fill {
  z-index: -1;
  background: #26d07c;
  background: -webkit-linear-gradient(315deg, #26d07c 10%, #3a5dae 50%, #440099 90%);
  background: linear-gradient(135deg, #26d07c 10%, #3a5dae 50%, #440099 90%);
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#features .row {
  margin-bottom: 2rem;
}
#features .row:last-child {
  margin-bottom: 0;
}
@media (min-width: 980px) {
  #features .row:nth-child(odd) .graphic {
    left: 50%;
  }
  #features .row:nth-child(odd) .text {
    left: -50%;
  }
}
#features .graphic,
#features .text {
  text-align: center;
}
#features .graphic {
  margin-bottom: 1.5rem;
}
#features .graphic img {
  padding-top: 1rem;
}
@media (min-width: 980px) {
  #features .graphic img {
    width: 400px;
  }
}
@media (min-width: 768px) {
  #features .text {
    text-align: left;
  }
}
#transitions .row {
  position: relative;
  overflow: hidden;
  margin-bottom: -6rem;
}
#transitions .transition-menu ul {
  padding: 0;
  margin: 0;
}
.js #transitions .transitions .iphone {
  visibility: hidden;
}
#transitions .transitions .iphone {
  background: url(../images/transitions-iphone.png) no-repeat;
  width: 300px;
  overflow: hidden !important;
  float: right;
  padding: 80px 0 0 0;
  height: 542px;
  z-index: 99;
}
@media (max-width: 767px) {
  #transitions .transitions .iphone {
    margin: 0 auto;
    float: none;
  }
}
#transitions .transitions .hide-overflow {
  display: block;
  position: absolute;
  width: 20px;
  background: #2b2b2b;
  height: 462px;
  right: 0;
  z-index: 9999;
}
#transitions .transitions .transition-container {
  width: 520px;
  height: 462px;
  margin-left: 20px;
  position: relative;
  background: url(../images/iphone-screen1.png) 0 0 no-repeat;
  overflow: hidden;
}
#transitions .transitions #transition_block {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#transitions .transitions #transition_block div {
  position: absolute;
  height: 56px;
  background: url(../images/iphone-screen2_1.png) 0 0 no-repeat;
  background-size: 100% 100%;
  width: 260px;
  opacity: 1;
  left: 0;
}
#transitions .transitions #transition_block #transition_block_2 {
  background-image: url(../images/iphone-screen2_2.png);
}
#transitions .transitions #transition_block #transition_block_3 {
  background-image: url(../images/iphone-screen2_3.png);
}
#transitions .transitions #transition_block #transition_block_4 {
  background-image: url(../images/iphone-screen2_4.png);
}
#transitions .transitions #transition_block #transition_block_5 {
  background-image: url(../images/iphone-screen2_5.png);
}
#transitions .transitions #transition_block #transition_block_6 {
  background-image: url(../images/iphone-screen2_6.png);
}
#transitions .transitions #transition_block #transition_block_7 {
  background-image: url(../images/iphone-screen2_7.png);
}
#transitions .transitions #transition_block #transition_block_8 {
  background-image: url(../images/iphone-screen2_8.png);
}
@media (max-width: 767px) {
  #getstarted .graphic img {
    width: 190px;
    margin-bottom: 1.5rem;
  }
}
#tutorials-list .tutorial-item a {
  display: block;
  text-decoration: none;
  margin-bottom: 24px;
  min-height: 160px;
}
#tutorials-list .tutorial-item a h5 {
  margin-bottom: 1rem;
}
#tutorials-list .tutorial-item a p {
  color: #111111;
}
.tutorial-content {
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
}
.tutorial-content figure {
  background: #f7f7f7;
  color: initial;
  margin: 0 0 2rem 0;
  text-align: center;
  padding: 2rem;
}
.tutorial-content .tutorial-footer {
  font-size: 1.333rem;
}
.tutorial-content .tutorial-footer h5 {
  margin-bottom: .5rem;
}
#support {
  margin-top: -3rem;
}
#account header {
  text-align: left;
  padding-bottom: 0;
}
.account-details {
  font-size: 1.333rem;
  margin-bottom: 1.5rem;
}
.account-details .account-settings {
  margin-top: 1rem;
}
.account-details .account-settings .account-edit {
  border: 1px solid #d0d0d0;
  border-width: 1px 0 1px 0;
  padding: 1.5rem 0 0;
  margin-top: 1.5rem;
}
.js .account-details .account-settings .account-edit {
  display: none;
}
.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(41, 41, 41, 0.9);
  top: 0;
  left: 100%;
  opacity: 0;
  cursor: pointer;
}
.overlay .modal-overlay {
  opacity: 1;
  left: 0;
  -webkit-transition: opacity 500ms ease-out;
          transition: opacity 500ms ease-out;
}
.modal {
  position: fixed;
  z-index: -9999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.modal:before {
  /* this is the important part */
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
  /* this just takes care of whitespace added by having display:inline-block (there are other methods) */
  margin-left: -0.25em;
}
.modal .modal-body {
  background: #ffffff;
  opacity: 0;
  min-height: 150px;
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  text-align: center;
  z-index: 9999;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
@media (max-width: 767px) {
  .modal .modal-body {
    width: 90%;
    max-width: 480px;
  }
}
.modal.visible,
.modal.transitioning {
  z-index: 9999;
}
.modal.visible .modal-body {
  opacity: 1;
  -webkit-transition: opacity 150ms ease-in-out;
          transition: opacity 150ms ease-in-out;
}
.modal .modal-exit {
  cursor: pointer;
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 0;
  right: 0;
  background: url(../images/close.png) no-repeat center center;
  color: #ffffff;
}
.modal .modal-exit:hover {
  opacity: .5;
}
.modal > .modal-body {
  width: 90%;
  max-width: 38rem;
  padding: .5rem;
}
.modal > .modal-body .flex-video {
  margin-bottom: 0;
}
#getstarted-modal .logo {
  background-image: url(../images/logo-color@2x.png);
  background-repeat: none;
  background-size: 191px 56px;
  display: block;
  height: 56px;
  width: 56px;
  margin: 1rem auto 1.5rem auto;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
